name: Publish Release
on:
  push:
    tags: "v[0-9]+.[0-9]+.[0-9]+*"
env:
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1
jobs:
  publish-release:
    name: Publish Release
    env:
      BINARY_NAME: cldi
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [linux, linux-musl, win-msvc, macos, macos-arm]
        include: 
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - build: linux-musl
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - build: win-msvc
            os: windows-latest
            target: x86_64-pc-windows-msvc
          - build: macos
            os: macos-latest
            target: x86_64-apple-darwin
          - build: macos-arm
            os: macos-latest
            target: aarch64-apple-darwin
    steps:
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.target }}
          components: rustfmt, clippy

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build release binary
        uses: actions-rs/cargo@v1
        with:
          # use-cross: true
          command: build
          args: --release --target ${{ matrix.target }}

      - name: Build archive
        shell: bash
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            7z a ${{ env.BINARY_NAME }}-${{ matrix.target }}.zip $PWD/target/${{ matrix.target }}/release/${{ env.BINARY_NAME }}.exe
          else
            tar czf ${{ env.BINARY_NAME }}-${{ matrix.target }}.tar.gz -C target/${{ matrix.target }}/release ${{ env.BINARY_NAME }}
          fi
      
      - name: Upload release archive
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.BINARY_NAME }}-${{ matrix.target }}.zip
            ${{ env.BINARY_NAME }}-${{ matrix.target }}.tar.gz
